* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
       height: 100px;                  
    display: flex;                 
    justify-content: center;       
    align-items: center;           
    font-size: 36px;               
    font-weight: bold;
    background: #e0e0e0;           
    margin-bottom: 30px;

    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    column-gap: 40px;
}

.box {
    width: 120px;
    height: 120px;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 10%;
}


.input-box {
    text-align: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 220px;
    border-radius: 6px;
    border: 1px solid #888;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    background: #ddd;
    border: none;
    color: black;
    border-radius: 6px;
    transition: 0.3s;
    margin-top: 4%;
}


